*{
    margin: 0;
    padding: 0;
}

/*------------MEDIA QUERIES------------------*/
/* xs < 550*/
@media screen and (max-width: 575px){
    #section_who_iam h2, #section_job h2, #section_exp h2, #section_soc h2{
        font-size: 35px;
    }

    #section_who_iam h3, #section_exp h3, #section_soc h3{
        font-size: 20px;
    }

    #section_who_iam span, #section_exp span, #section_soc span{
        font-size: 15px;
    }

    #section_who_iam p, #section_exp p, #section_soc p{
        font-size: 18px;
    }

    #section_job a{
        font-size: 18px;
    }

    #section_soc img{
        width: 100px;
    }

    footer a, footer span{
        font-size: 8pt;
    }
}

/* SM */
@media screen and (min-width: 576px){
    #section_who_iam h2, #section_job h2, #section_exp h2, #section_soc h2{
        font-size: 35px;
    }

    #section_who_iam h3, #section_exp h3, #section_soc h3{
        font-size: 20px;
    }

    #section_who_iam span, #section_exp span, #section_soc span{
        font-size: 15px;
    }

    #section_who_iam p, #section_exp p, #section_soc p{
        font-size: 18px;
    }

    #section_job a{
        font-size: 18px;
    }

    #section_soc img, #section_job img {
        width: 150px;
    }

    footer a, footer span{
        font-size: 9pt;
    }
}

@media screen and (min-width: 765px){

    #section_who_iam h2, #section_job h2, #section_exp h2, #section_soc h2{
        font-size: 50px;
    }

    #section_who_iam h3, #section_exp h3, #section_soc h3{
        font-size: 20px;
    }

    #section_who_iam span, #section_exp span, #section_soc span{
        font-size: 15px;
    }

    #section_who_iam p, #section_exp p, #section_soc p{
        font-size: 16pt;
    }
    
    #section_job a{
        font-size: 20px;
    }

    footer a, footer span{
        font-size: 10pt;
    }

    #section_soc img, #section_job img{
        width: 200px;
    }
}

/*md*/
@media screen and (min-width: 992px){
    #section_who_iam h2, #section_job h2, #section_exp h2, #section_soc h2{
        font-size: 70px;
    }

    #section_who_iam h3, #section_exp h3, #section_soc h3{
        font-size: 20px;
    }

    #section_who_iam span, #section_exp span, #section_soc span{
        font-size: 15px;
    }

    #section_who_iam p, #section_exp p, #section_soc p{
        font-size: 18pt;
    }
    
    #section_job a{
        font-size: 20px;
    }

    footer a, footer span{
        font-size: 10pt;
    }

    #section_soc img{
        width: 200px;
    }
}

/*lg*/
@media screen and (min-width: 1200px){
    #section_who_iam h2, #section_job h2, #section_exp h2, #section_soc h2{
        font-size: 70px;
    }

    #section_who_iam h3, #section_exp h3, #section_soc h3{
        font-size: 20px;
    }

    #section_who_iam span, #section_exp span, #section_soc span{
        font-size: 15px;
    }

    #section_who_iam p, #section_exp p, #section_soc p{
        font-size: 18pt;
    }
    
    #section_job a{
        font-size: 20px;
    }

    footer a, footer span{
        font-size: 12pt;
    }

    #section_soc img{
        width: 200px;
    }

}



/*---------- FINAL MEDIA QUERIES-------------*/
html, body, .capa, section, .shadow{
    height: 100%;
    overflow: auto;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#4f5050;
    overflow-x: hidden;
}

.transparent{
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid black;
    padding: 10px;
}

.capa{
    overflow: auto;
    display: table;
    background: url("../img/wallpaper_person.png");
    background-attachment: fixed;
    width: 100%;
}

.texto-capa{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
}

.shadow{
    background-color: rgba(0, 0, 0, 0.4);
    overflow-y: hidden;
}

/*FOOTER*/

footer{
    padding: 20px;
    background-color: black;
    text-align: center;
}

footer span, footer a{
    color: white;
}

footer a:hover{
    color: #a1a1a1;
    text-decoration: none;
}

footer a:active{
    color: #949494;
    text-decoration: none;
}

/*SECTIONS*/

section{
    display: table;
    width: 100%;
}

.album{
    padding: 10px;
}

.display-table{
    display: table;
    width: 100%;
    height: 100%;
}

.center-elements{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}


#section_who_iam{
    background: white;
    padding: 5% 0;
}

#section_who_iam h2{
    text-align: right;
    margin-bottom: 10px;
}

#section_who_iam p{
    padding: 5px;
    text-align: right;
}

#section_job{
    background: url("../img/wallpaper_job.png");
    color: white;
}

#section_job img{
    width: 200px;
    padding: 10px;
}

#section_job h2{
    text-align: center;
    font-weight: bolder;
    letter-spacing: 0.07em;
    padding-bottom: 5%;
}

#section_job a{
    letter-spacing: 0.07em;
    color: white;
    font-weight: bolder;
    padding: 5px 10px;   
}

#section_job a:hover{
    text-decoration: none;
    color: #a1a1a1;
}

#section_job a:active{
    text-decoration: none;
    color: #949494;
}

#section_exp{
    background-color: white;
    padding-top: 5%;
}

#section_exp h2{
    text-align: left;
    margin-bottom: 10px;
}

#section_exp p{
    padding: 5px;
    text-align: left;
}

#section_exp span{
    padding: 5px;
    text-align: left;
}

#section_soc{
    background: url("../img/wallpaper_contact.png");
    color: white;
}

#section_soc h2{
    text-align: center;
    font-weight: bolder;
    letter-spacing: 0.07em;
    padding-bottom: 5%;
}

#section_soc img{
    padding: 10px;
}
