*{
    margin: 0;
    padding: 0;
}
html, body, .capa, section, .shadow{
    height: 100%;
    overflow: auto;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#4f5050;
    overflow-x: hidden;
}

.transparent{
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid black;
    padding: 10px;
}

.capa{
    overflow: auto;
    display: table;
    background: url("../img/wallpaper_person.png");
    background-attachment: fixed;
    width: 100%;
}

.texto-capa{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
}

.shadow{
    background-color: rgba(0, 0, 0, 0.4);
    overflow-y: hidden;
}

/*FOOTER*/

footer{
    padding: 20px;
    background-color: black;
    text-align: center;
    font-size: 10pt;
}

footer span, footer a{
    color: white;
}

footer a:hover{
    color: #a1a1a1;
    text-decoration: none;
}

footer a:active{
    color: #949494;
    text-decoration: none;
}

/*SECTIONS*/

section{
    display: table;
    width: 100%;
}

.album{
    padding: 10px;
}

.display-table{
    display: table;
    width: 100%;
    height: 100%;
}

.center-elements{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}


#section_who_iam{
    background: white;
    padding: 5% 0;
}

#section_who_iam h2{
    font-size: 70px;
    text-align: right;
    margin-bottom: 10px;
}

#section_who_iam p{
    padding: 5px;
    font-size: 18pt;
    text-align: right;
}

#section_job{
    background: url("../img/wallpaper_job.png");
    color: white;
}

#section_job img{
    width: 200px;
    padding: 10px;
}

#section_job h2{
    text-align: center;
    font-size: 70px;
    font-weight: bolder;
    letter-spacing: 0.07em;
    padding-bottom: 5%;
}

#section_exp{
    background-color: white;
    padding-top: 5%;
}

#section_exp h2{
    font-size: 70px;
    text-align: left;
    margin-bottom: 10px;
}

#section_exp p{
    padding: 5px;
    font-size: 18pt;
    text-align: left;
}

#section_soc{
    background: url("../img/wallpaper_contact.png");
    color: white;
}

#section_soc h2{
    text-align: center;
    font-size: 70px;
    font-weight: bolder;
    letter-spacing: 0.07em;
    padding-bottom: 5%;
}

#section_soc img{
    width: 200px;
    padding: 10px;
}
